<app-barra></app-barra>
<div class="container">
  <h4>Catalogo de productos</h4>
  <div class="row">

    <div class="input-field">
        <input placeholder="Buscar producto" type="text" #inputBuscar id="buscarProd" (keyup)="buscarProd(inputBuscar.value)">
    </div>

    <div *ngFor="let prod of productosJson.productos" class="col l3 m3 s12" >

      <div class="card" *ngIf="prod.visible">
        <div class="card-image">
          <img src="./assets/img/{{prod.imagen}}" width="200" height="200" />
        </div>
        <div class="card-content">
          <h5>{{prod.nombre}}</h5>
          <ul>
              <li>Precio : ${{prod.precio}}</li>
              <li>Unidades Disponibles : {{prod.unidades}}</li>
          </ul>
        </div>
        <div class="card-action">
          <div class="row">
            <div class="col l6">
              <button class="btn" routerLink="/detalleProducto/{{prod.nombre}}">Ver más</button>
            </div>
            <div class="col l6">
            <button (click)="agregarCarrito(input.value,prod.nombre,prod.precio)" class="btn">Añadir</button>
            </div>
          </div>
          <input type="number" min="1" name="unidades" value="" #input placeholder="Unidades">
        </div>
      </div>

    </div>
   </div>
</div>
