<app-barra></app-barra>

<h3>Carrito de compras</h3>

<div class="row">
    <div class="col l6 m6 s12" >
        <div class="card horizontal" *ngFor="let prod of productosCarrito.productos">
          <div class="card-image">
            <img  src="./assets/img/{{prod.nombre | lowercase}}.jpg" width="300" height="200" />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h5>{{prod.nombre}}</h5>
              <p><b>Unidades : {{prod.numero}}</b></p>
            </div>
            <div class="card-action">
              <p><b>Subtotal : {{prod.subtotal}}</b></p>
            </div>
          </div>
        </div>
    </div>
    <div class="col l6 m6 s12">
        <h5>Total: $ {{obtenerTotal()}}</h5>
        <div class="row">
          <div class="col l2 m12 s12">
          <button routerLink="/home" class="btn">Cancelar</button>
          </div>
          <div class="col l10 m12 s12">
            <button (click)="eliminarProductosCarrito()" class="btn">Pagar</button>
          </div>
        </div>
    </div>
</div>
