<h4>{{producto.nombre}}</h4>
<hr>
<div class="row">
    <div class="col l6 m6 s12">
      <div class="card">
        <img  src="./assets/img/{{producto.imagen}}" width="400" height="300" />
       </div>
    </div>
    <div class="col l6 m6 s12">
      <ul>
        <li><h5>Precio: {{producto.precio}}</h5></li>
        <li><h5>Unidades Disponibles: {{producto.unidades}}</h5></li>
      </ul>
    </div>
</div>
<div class="row">
  <div class="col">
    <a class="btn" routerLink="/home">Atras</a>
  </div>
</div>
